h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 4em auto;  
}

#search {
    display: grid;
    margin: 4em auto;
    grid-template-columns: 12.5em;
    font-size: 1em;
    height: 1.5em;
}

.container {
    max-width: 12.5em;
    margin: 4em auto;
    display: grid;
    grid-template-columns: 12.5em;
    grid-gap: 4em;
}
 
@media (min-width: 760px) {
    .container {
        max-width: 47.5em;
        grid-template-columns: 12.5em 12.5em 12.5em;
    }

    #search {
        width: 21em;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 64em;
        grid-template-columns: 12.5em 12.5em 12.5em 12.5em;
    }

    #search {
        width: 31em;
    }
}